<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-JD1B356GRY"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-JD1B356GRY");
</script>

<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-JD1B356GRY"
  ></script>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1722804840732560"
    crossorigin="anonymous"
  ></script> 

  
  <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1722804840732560"
  crossorigin="anonymous"
></script>
  <!-- change your GA id in _config.yml -->
  <!-- Google tag (gtag.js) + Google adsense script -->
  
  <!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-JD1B356GRY');
</script> -->