<div class="sidebar">
</div>
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Menu</h3>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
        <li><a href="{{ site.baseurl }}/categories">Categories</a></span></li>
        <li><a href="{{ site.baseurl }}/about">About <span class="badge badge-primary">New !</span></a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        <li><a href="{{ site.baseurl }}/archive">Archive</a></li>
    </ul>
</nav> 
<!-- Searchbar left navigation
================================================== -->
{% include search-lunr.html %}
